<div class="content-container">
    <a #redirect href="https://github.com/mahmoudBens/Nomenclature-des-medicaments-en-algerie" style="display: none"></a>
    <mat-toolbar [color]="'primary'" class="mat-elevation-z2 toolbar">
        <div class="toolbar-container">
            <span>Medica</span>
            <div class="navs">
                <button mat-button>Home</button>
                <button mat-button>About</button>
                <button mat-raised-button class="action" (click)="redirect.click()"> Download Data</button>
            </div>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>