<div class="action-card">
    <div class="content">
        <div class="Title mat-display-3">Medica</div>
        <div class="Sub-title mat-title">Medicaments Database</div>
        <div class="text mat-subheading-2">this project is a open source project trying to provide medicaments list in
            algeria for wherever who want them </div>
        <button class="action" mat-raised-button [routerLink]="[ '/home']">Browse</button>
    </div>
    <img src="/assets/medics.svg" alt="" class="bg">
</div>